.column-left{ float: left; width: 50%; }
.column-right{ float: right; width: 25%; }
.column-center{ display: inline-block; width: 25%; }

* { 
    font-size: 10px;
  }

 ul {
    list-style: none;}
h1 {font-size:3rem;}

    body{
        line-height: 2;}
    header{
            text-align: center;
            font-size: 5rem;}
